MONGODB_USER= # MongoDB username
MONGODB_PASSWORD= # MongoDB password
MONGODB_URL= # MongoDB cluster
MONGODB_DB= # MongoDB db_name
PORT= # Application port

PRODUCTION= # Mode of production (true) or development (false)

# SMTP settings for sending e-mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER= # SMTP login
SMTP_PASSWORD= # New SMTP key (password) generated
SMTP_FROM= # Email address from which emails will be sent

JWT_SECRET= # Secret key for signing JWT tokens
APP_DOMAIN= # The domain where frontend application is hosted (e.g. http://localhost:3000/auth)

# Cloudinary settings for uploading images
CLOUDINARY_CLOUD_NAME= # The name of your Cloudinary cloud account
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ENABLE_CLOUDINARY= # Enable or disable Cloudinary usage (true/false)
